<div class="controls col-sm-8">
          <ul class="control-list list-inline">
            <li>
              <button class="text-btn btn btn-default" [disabled]="invisible" (click)="showUnread()">
                <strong>Показать непрочитанные</strong>
                <span class="caret"></span>
              </button>
            </li>
            <li>
              <button class="text-btn btn btn-default" [disabled]="!invisible" (click)="showAll()">
                <strong>Отобразить все</strong>
                <span class="caret"></span>
              </button>
            </li>
            <li>
              <button class="text-btn btn btn-default" (click)="deleteMessage($event)">
                <strong>Удалить</strong>
                <span class="caret"></span>
              </button>
            </li>
          </ul>
</div> 

 <div class="inbox col-sm-10">
      <ul class="list-unstyled">
        <app-message *ngFor = "let message of messages"  
                      [message]="message" [invisible]="invisible"
                      (onCheck)="createArray($event)">
          
        </app-message>
       </ul>
       <p><a href *ngIf="!invisible" (click)="back()">Назад</a></p>
  </div>